.let{
    padding-left:30px;
    display:grid;
    place-items:center;
    
}
.head{
    padding-left:30px;
    display:grid;
    place-items:center;
}
svg{
    font: 12px cursive;
    text-align: center;
    display: block;
    margin: auto;
}
tspan,.tiles{
    display:grid;
    place-items:center;
    text-align: center;
}

#tooltip{
    padding:15px;
    background-color: '#B2EBF2'
}
ul{
    display:flex;
}
li{
    list-style: none;
    padding:10px;
}
a{
   text-decoration: none;
}
